<article class="{{ .class }}">
    <header class="entry-header">
        <h2 class="entry-hint-parent">{{ .page.Title }}</h2>
    </header>

    {{ if ne (.page.Param "hideSummary") true }}
    <div class="entry-content">
        <p>
            {{ .page.Summary | plainify | htmlUnescape }}{{ if .page.Truncated
            }}...{{ end }}
        </p>
    </div>
    {{ end }}

    <footer class="entry-footer">{{ partial "post_meta.html" .page }}</footer>

    <a class="entry-link" href="{{ .page.Permalink }}"></a>
</article>
